@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Work+Sans:wght@600&display=swap");

$family-primary: 'Quattrocento Sans', sans-serif;
$family-secondary: 'Work Sans', sans-serif;

@import "~bulma/bulma.sass";

h1, h2, h3, h4, h5, h6 {
    font-family: $family-secondary;
}

.footer {
    padding-bottom: 3em
}

ul.footer-list {
    list-style: none;
}

li.footer-list-item.footer-list-header {
    font-weight: bold;
}

main > .container > .card.blog-post-card {
    margin-bottom: 3em;
}

main > .container > h1.main-title {
    margin: 0.5em 0;
}

main.page-container {
    margin-bottom: 3em;
}